__pycache__
.DS_Store
**/*.shd
**/*.env
**/*.prt
**/*.swp
**/*.flp
**/*.mod
**/*.ray
.ipynb_checkpoints
.vscode
*.ipynb
*.png
dev
tests
tutorials/XBT.csv
tritonoa/at/bin

!RunKRAKEN.ipynb
!RunMFP.ipynb